---
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Tu fuente de videojuegos, reviews y mas" } =
	Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-50 text-gray-900">
		<header class="bg-purple-950 text-white">
			<nav class="container mx-auto px-4 py-6">
				<div class="flex items-center justify-between">
					<a href="/">GameHub</a>
					<ul class="flex space-x-6">
						<li class="cursor-pointer"><a href="/"></a>Home</li>
						<li class="cursor-pointer"><a href="/news"></a>News</li>
						<li class="cursor-pointer">
							<a href="/reviews"></a>Reviews
						</li>
						<li class="cursor-pointer">
							<a href="/features"></a>Features
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<main>
			<slot />
		</main>
		<footer class="bg-purple-950 text-white">
			<div class="container mx-auto px-4 py-8">
				<div class="grid grid-cols-1 md:grid-cols-3 gap-8 pb-8">
					<!-- Columna 1 -->
					<div>
						<h3 class="text-xl font-bold mb-4">GameHub</h3>
						<p class="text-gray-300">Contenido de videojuegos</p>
					</div>

					<!-- Columna 2 -->
					<div>
						<h3 class="text-xl font-bold mb-4">Enlaces a redes</h3>
						<ul class="space-y-2">
							<li>
								<a
									href="/about"
									class="text-gray-300 hover:text-white"
									>About</a>
							</li>
							<li>
								<a
									href="/contact"
									class="text-gray-300 hover:text-white"
									>Contact</a>
							</li>
							<li>
								<a
									href="/privacy"
									class="text-gray-300 hover:text-white"
									>Políticas</a>
							</li>
						</ul>
					</div>

					<!-- Columna 3 -->
					<div>
						<h3 class="text-xl font-bold mb-4">Follow Us</h3>
						<div class="flex flex-col space-y-2">
							<a href="#" class="text-gray-300 hover:text-white"
								>Twitter</a
							>
							<a href="#" class="text-gray-300 hover:text-white"
								>Facebook</a
							>
							<a href="#" class="text-gray-300 hover:text-white"
								>Instagram</a
							>
						</div>
					</div>
				</div>

				<!-- Footer final -->
				<div
					class="pt-8 border-t border-gray-700 text-center text-gray-300"
				>
					<p>© 2025 GameHub. Todos los derechos reservados.</p>
				</div>
			</div>
		</footer>
	</body>
</html>
